@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 40px 30px;
}

.input-box input {
  padding-left: 40px !important;
  background: transparent !important;
  color: white !important;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 40px !important;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  pointer-events: none;
}
